<h1> Create Vybe Playlist </h1>

<mat-card>
  <div>
    <button mat-raised-button color="primary" [disabled]="hasSpotAuth" (click)="getCode()"> Auth With Spotify </button>
    <span *ngIf="hasSpotAuth"> Authorized! </span>
  </div>
  <br>
  <div>
    <button mat-raised-button [disabled]="hasGoogleAuth" (click)="loginWithGoogle()"> Login with google </button>
    <span *ngIf="hasGoogleAuth"> Authorized! </span>
  </div>
  <br>
  <input matInput [(ngModel)]="name" placeholder="Queue Name">
  <br>
  <br>
  <button mat-raised-button [disabled]="!canCreateAccount" (click)="createHost()"> Create Host </button>
</mat-card>
