<app-search></app-search>

<mat-card>
  <mat-card-content *ngIf="playerState">
    <img [src]="playerState.track_window.current_track.album.images[0].url" />
    <div>
      <p><b>{{ playerState.track_window.current_track.name }}</b></p>
      <p>{{ playerState.track_window.current_track.artists[0].name }}</p>
      <mat-slider max="100" min="0" [(ngModel)]="progress" (input)="seek($event)" class="progressBar"></mat-slider>
    </div>
  </mat-card-content>
  <mat-card-content *ngIf="!playerState">
    <p> Press play to start player </p>
  </mat-card-content>
  <mat-card-actions>
    <button *ngIf="!isStarted" (click)="start()" mat-button> Start </button>
    <button *ngIf="isStarted" (click)="nextTrack()" mat-button> Next Song </button>
    <button *ngIf="!isPlaying" (click)="play()" mat-button> Play </button>
    <button *ngIf="isPlaying" (click)="pause()" mat-button> Pause </button>
    <button (click)="openVibe()" mat-button> Vibe Settings </button>
  </mat-card-actions>
</mat-card>

<app-queue host="true" *ngIf="idLoaded"></app-queue>
