<mat-toolbar color="warm">
  <img src="assets/logo.png" height="60" (click)="goHome()" />

  <span *ngIf="isLoggedIn" id="tokenDiv">
    <mat-icon svgIcon="token"></mat-icon>
    <span>{{ tokens }}</span>
  </span>

  <span>
    <button color="primary" *ngIf="isLoggedIn" mat-flat-button (click)="goToAccount()"> Account </button>

    <button color="primary" *ngIf="!isLoggedIn" mat-flat-button (click)="login()"> Login / Register </button>
    <button color="primary" *ngIf="isLoggedIn" mat-flat-button (click)="logout()"> Logout </button>
  </span>
</mat-toolbar>