<mat-toolbar color="warm">
  <img src="assets/logo.png" height="60" (click)="goHome()" />

  <span *ngIf="isLoggedIn" id="tokenDiv">
    <mat-icon svgIcon="token"></mat-icon>
    <span>{{ tokens }}</span>
  </span>

  <span>
    <button *ngIf="isLoggedIn" mat-raised-button (click)="goToAccount()"> Account </button>

    <button *ngIf="!isLoggedIn" mat-raised-button (click)="login()"> Login / Register </button>
    <button *ngIf="isLoggedIn" mat-raised-button (click)="logout()"> Logout </button>
  </span>
</mat-toolbar>

<app-signin *ngIf="openLogin" (close)="closeLogin()"></app-signin>
