mat-card {
  margin-top: 10px;

  h4 {
    margin: 0px;
  }

  hr {
    margin: 10px 0px;
  }
}

.vibe {
  display: flex;

  p {
    margin-right: 10px;
  }

}

.back {
  color: blue;
  cursor: pointer;
}
