<div class="track">
  <div>
    <p id="trackName"> <b> {{ track.name }} </b> </p>
    <p> {{ track.artist }} </p>
  </div>
  <div id="actions">
    <p *ngIf="!addable" id="likeCount"> {{ track.likes }} </p>
    <button mat-icon-button *ngIf="likeable" (click)="toggleLike()">
      <mat-icon svgIcon="heart" *ngIf="isLiked"></mat-icon>
      <mat-icon svgIcon="heart_outline" *ngIf="!isLiked"></mat-icon>
    </button>
    <button mat-icon-button *ngIf="playable" (click)="play()">
      <mat-icon svgIcon="play"></mat-icon>
    </button>
    <button mat-icon-button *ngIf="removable" (click)="remove()">
      <mat-icon svgIcon="delete" id="deleteIcon"></mat-icon>
    </button>
    <button mat-mini-fab class="addable" *ngIf="addable" (click)="add()">
      <mat-icon svgIcon="add"></mat-icon>
    </button>
    <button mat-icon-button *ngIf="!addable" (click)="showMore()">
      <mat-icon svgIcon="more"></mat-icon>
    </button>
  </div>
</div>

<div class="pop-card" *ngIf="showMoreCard">
  <div class="close-button" (click)="showMoreCard = false"> </div>

  <img [src]="track.imageUrl" />
  <h3> {{ track.name }} </h3>
  <p> {{ track.artist }} </p>

  <p *ngIf="userName"> Added By: {{ userName }}</p>
</div>
