.track {
  display: flex;
  padding: 1px 10px;
  background-color: white;
  justify-content: space-between;
  border-top: 1px solid black;
  border-bottom: 1px solid black;

  #trackName {
    font-size: 1.2em;
  }

  #actions {
    display: flex;
    align-items: center;

    p {
      align-self: center;
      margin-right: 5px;
    }
  }

  p {
    color: black;
    font-size: 1em;
    padding: 0px;
    margin: 0px;
  }

  mat-icon {
    align-self: center;
  }

  #likeCount {
    font-size: 1.4em;
  }
}

.track:hover {
  // background-color: lightgrey;
}
