.track {
  display: flex;
  background-color: white;
  justify-content: space-between;
  margin: 0px;
  padding: 3px 0px;

  #trackName {
    font-size: 1.2em;
  }

  #actions {
    display: flex;
    align-items: center;

    p {
      align-self: center;
      margin-right: 5px;
    }
  }

  p {
    color: black;
    font-size: 1em;
    padding: 0px;
    margin: 0px;
  }

  mat-icon {
    align-self: center;
  }

  .mat-icon-button {
    width: 33px;
  }

  #likeCount {
    font-size: 1.4em;
  }
}
