<mat-card class="main-card">
  <mat-card-content *ngIf="isStarted && isOn">
    <div id="top">
      <img *ngIf="imgUrl" [src]="imgUrl" />
      <div>
        <p> <b> {{ trackName }} </b> </p>
        <p> {{ artist }} </p>
      </div>
    </div>
    <mat-progress-bar *ngIf="!isHost" color="primary" [value]="progress" mode="determinate">
    </mat-progress-bar>
    <mat-slider *ngIf="isHost" max="100" min="0" [value]="progress" (input)="playerService.seek($event)"
      color="primary">
    </mat-slider>
    {{ elapseReadable }} -
    {{ durationReadable }}
  </mat-card-content>
  <mat-card-content>
    <p *ngIf="isHost && !isOn"> Press start to begin queue </p>
    <p *ngIf="isHost && !isStarted && isOn"> Queue will play once someone adds a song </p>
    <p *ngIf="!isHost && !isOn"> Wait for host to start queue </p>
  </mat-card-content>
  <mat-card-actions *ngIf="isHost">
    <button mat-flat-button *ngIf="!isOn" (click)="playerService.start()"> Start </button>
    <button mat-flat-button *ngIf="isOn" (click)="playerService.nextTrack()"> Next </button>
    <button mat-flat-button *ngIf="!isPlaying && isOn" (click)="playerService.play()"> Play </button>
    <button mat-flat-button *ngIf="isPlaying && isOn" (click)="playerService.pause()"> Pause </button>
    <button mat-flat-button *ngIf="isOn" (click)="playerService.stop()"> Stop </button>
    <button mat-flat-button (click)="openVibe()"> Settings </button>
  </mat-card-actions>
</mat-card>