<mat-card class="main-card">
  <mat-card-content *ngIf="isStarted">
    <div id="top">
      <img *ngIf="imgUrl" [src]="imgUrl" />
      <div>
        <p> <b> {{ trackName }} </b> </p>
        <p> {{ artist }} </p>
      </div>
    </div>
    <mat-progress-bar *ngIf="!isHost" color="primary" [value]="progress" mode="determinate">
    </mat-progress-bar>
    <mat-slider *ngIf="isHost" max="100" min="0" [(ngModel)]="progress" (input)="playerService.seek($event)"
      color="primary">
    </mat-slider>
    {{ elapseReadable }} -
    {{ durationReadable }}
  </mat-card-content>
  <mat-card-content *ngIf="!isStarted">
    <p *ngIf="isHost"> Press start to begin queue </p>
    <p *ngIf="!isHost"> Wait for host to start queue </p>
  </mat-card-content>
  <mat-card-actions *ngIf="isHost">
    <button *ngIf="!isStarted" (click)="playerService.start()" mat-button> Start </button>
    <button *ngIf="isStarted" (click)="playerService.nextTrack()" mat-button> Next </button>
    <button *ngIf="!isPlaying && isStarted" (click)="playerService.play()" mat-button> Play </button>
    <button *ngIf="isPlaying && isStarted" (click)="playerService.pause()" mat-button> Pause </button>
    <button (click)="openVibe()" mat-button> Vibe Settings </button>
  </mat-card-actions>
</mat-card>
