div {
  display: flex;
  padding: 2px 10px;
  background-color: #030303;
  justify-content: space-between;
}

div p {
  color: white;
  font-size: 1.2em;
}

div:hover {
  background-color: #131313;
}
