div {
  display: flex;
  padding: 1px 7px;
  background-color: #030303;
  justify-content: space-between;

  p {
    color: white;
    font-size: 1em;
  }

  mat-icon {
    align-self: center;
  }

  #likeDiv {
    align-self: center;
    position: relative;
    width: 24px;

    mat-icon {
      position: absolute;
    }

    p {
      width: 100%;
      text-align: center;
      z-index: 2;
      color: white;
    }
  }
}

div:hover {
  background-color: #131313;
}
