<div class="track">
  <div>
    <p> <b> {{ track.name }} </b> </p>
    <p> {{ track.artist || track.artists[0].name }} </p>
  </div>
  <div id="actions">
    <button mat-fab class="addable" *ngIf="addable" (click)="add()">
      +
    </button>
    <p> {{ track.likes }} </p>
    <div id="likeDiv" (click)="toggleLike()" *ngIf="likeable">
      <mat-icon svgIcon="heart" *ngIf="isLiked"></mat-icon>
      <mat-icon svgIcon="heart_outline" *ngIf="!isLiked"></mat-icon>
    </div>
    <mat-icon svgIcon="delete" id="deleteIcon" *ngIf="removable" (click)="remove()"></mat-icon>
  </div>
</div>
