div {
  display: flex;
  padding: 1px 7px;
  background-color: #030303;
  justify-content: space-between;

  p {
    color: white;
    font-size: .7em;
  }

  #deleteIcon {
    align-self: center;
  }
}

div:hover {
  background-color: #131313;
}
