.track {
  display: flex;
  padding: 1px 15px;
  background-color: white;
  justify-content: space-between;
  border-top: 1px solid black;
  border-bottom: 1px solid black;

  #trackName {
    font-size: 1.2em;
  }

  #actions {
    display: flex;

    button {
      background-color: #f5b044;
      font-size: 1.8em;
      font-weight: 800;
      border: 1px white solid;
      color: grey;
    }

    p {
      align-self: center;
      margin-right: 5px;
    }
  }

  p {
    color: black;
    font-size: 1em;
    padding: 0px;
    margin: 0px;
  }

  mat-icon {
    align-self: center;
  }

  #likeCount {
    font-size: 1.4em;
    margin-left: 30px;
  }

  #likeDiv {
    align-self: center;
    position: relative;
    width: 24px;
    display: flex;

    mat-icon {
      position: absolute;
      font-size: 30px;
      height: 30px;
      width: 30px;
    }
  }
}

.track:hover {
  background-color: lightgrey;
}
