#trackPreview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  max-height: 90%;

  img {
    max-width: 100%;
    max-height: 40%;
  }

  h1 {
    margin-bottom: 10px;
  }

  #addSongButton {
    background-color: #f5b044;
    color: white;
    font-size: 2.3em;
    padding: 30px;
  }
}
