@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

// regular style toast
@import "~ngx-toastr/toastr.css";

body {
  margin: 0px;
  padding: 0px;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-image: linear-gradient(#f5b044, #dbad62);
}

// body:before {
//   content: "";
//   position: absolute;
//   top: -500px;
//   bottom: 0;
//   left: -250px;
//   width: 250vw;
//   z-index: -1;
//   background: #f5b044;
//   transform: skew(-55deg);
// }

p,
h1,
h2,
h3,
h4,
span {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

p {
  font-size: 14px;
}

.main-card {
  margin: 10px;
}
